    <section id="blur-effect">
      <div id="bio-body">
        <div id="title-container">
            <img class="bio-img" src="./uploads/Dan-Richards-Bio.png" alt="picture of Daniel Richards"/>
            <div id="bio-title">Daniel Richards
            <div id="bio-style-bar">Soccer Coach</div>
            </div>
        </div>
        <div id="bio-text">
            <p>Daniel Richards spent the first four seasons at CPP as a program associate from 2015-18 before being elevated to a full-time assistant coach ahead of the 2019 season. In his first season as a full-time member of staff, Coach Richards was part of the Broncos coaching line-up who were named the United Soccer Coaches NCAA Division II West Region Coaching Staff of the Year. As well as seeing success on the field, the program has shown sustained excellence in the classroom during Coach Richards time with the Women's Soccer Program, currently holding the highest team GPA for a single semester in Broncos Athletics history.</p>
            <p>Hailing from London, England, Richards earned a bachelor's degree with honors in 2005 from the University of Wolverhampton in Sports Studies. After graduating from Wolverhampton, Richards moved to the United States and has continued to progress though the youth coaching ranks to help produce and develop elite level soccer players.</p>  
            <p>Prior to his full-time appointment at CPP, Coach Richards also served as the Head Varsity Boys Soccer Coach and Program Director at Laguna Beach High School from 2010-2019.</p>    
            <p>Richards is an established figure in the club soccer world, currently working for the nationally recognized Sporting CA USA program as part of their ECNL/RL coaching staff. Continually working with, and coaching against, high level youth players, Coach Richards attends some of the most prestigious tournaments and showcases in the country.</p>  
            <p>Richards holds national coaching licenses from various organizations and governing bodies including a US Soccer Federation ‘A’ License, a Premier Diploma from the United Soccer Coaches organization, a National Goalkeeping Diploma, National Youth Diplomas from Coerver Coaching and a Director of Coaching Diploma from United Soccer Coaches. Coach Richards is also well-versed in soccer analytics and scouting having used multiple platforms, software and technologies to help enhance player and team performance along with holding certifications from the PFSA (Professional Football Scouts Association).</p>
        </div>
    </div>
</section>