<section id="blur-effect">
    <img class="contact-img" src="./uploads/contact-form-img.jpg"/>
    <div class="container">
    <div class="card contact-container">
      <div class="card-header">Contact Me</div>
      <div class="card-body">

<form class="contact-form" action="https://formsubmit.co/tottenham_n17@hotmail.com" method="POST">
    <input class="contact-form-input" type="hidden" name="_subject" value="New Email from DANNYRICHARDS.COM"/>
    <input class="contact-form-input" type="name" name="name" placeholder="Enter Name Here" required/>
    <input class="contact-form-input" type="email" name="email" placeholder="Email Address" required/>
    <textarea class="contact-form-input contact-text" type="text" name="message" placeholder="Type Your Message" rows="10" required/></textarea>
    <input class="contact-form-input" type="hidden" name="_next" value="https://yourdomain.co/thanks.html"/>
    <button class="contact-form-btn" type="submit">Send Message</button>
</form>
    <div>
        <h5>You can also email me directly at tottenham_n17@hotmail.com</h5>
    </div>
        <div class="return-home">
          <a class="return-home-link" href="/">Return Home</a>
        </div>

         </div>
      </div>
    </div>
  </div>
</section>