<section id="blur-effect">
     <div id="hero-section">
          <img class="background-img" src="./uploads/Dan-Richards-Hero-Img.png" alt="Dan Richards">
          <img class="background-img-overlay" src="./uploads/Dan-Richards-Hero-Img-Overlay.png" alt="Dan Richards">
          <h1 class="title">Daniel Richards<br><span class="small-text-title">Coaching, Analysis, & Consulting</span></h1>
     </div>
     <div class="stats">
          <div class="hero-stats">
          <div class="img-stat-container">
               <img src="./uploads/hero-stats.png" alt="background img" class="hero-stat-background"/>
          </div>
          <div class="stat-title-lg">
               <h1 class="hero-stat-title">GPS Tracking</h1>
               <h2 class="hero-stat-title-sm">Something or Other</h2>
               <img src="./uploads/hero-stat-example.png" alt="example picture" class="hero-stat-example"/>
          </div>
          <div class="stat-title-sm">
               <p class="hero-stat-paragraph">Placeholder Text to fill in about things i know nothing about</p>
               <a href="/stats" class="direct-btn">See Player Stats</a>
          </div>
          </div>
     </div>
     <div class="stats">
          <div class="hero-stats">
          <div class="img-stat-container">
               <img src="./uploads/hero-stats.png" alt="background img" class="hero-stat-background"/>
          </div>
          <div class="stat-title-sm-inverse">
               <p class="hero-stat-paragraph-inverse">Placeholder Text to fill in about things i know nothing about</p>
               <a href="/exercises" class="direct-btn">See Exercises/Sessions</a>
          </div>
          <div class="stat-title-lg-inverse">
               <h1 class="hero-stat-title-inverse">Exercises</h1>
               <h2 class="hero-stat-title-sm-inverse">& Sessions</h2>
               <img src="./uploads/hero-stat-example-inverse.png" alt="example picture" class="hero-stat-example-inverse"/>
          </div>
          </div>
     </div>
</section>
