<section id="blur-effect">
<img class="login-img" src="./uploads/login-bkgrnd.jpg"/>
<div class="container">
    <div class="card">
      <h3 class="card-header">Login</h3>
      <div class="card-body">
        <form action="/login" method="post">
        <div class="login-container">
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input name="email" class="form-control" id="exampleInputEmail1" type="email" aria-describedby="emailHelp" placeholder="Enter email" required>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input name="password" class="form-control" id="exampleInputPassword1" type="password" placeholder="Password" required >
            </div>
        </div>
        <button type="submt" class="login-btn">Login</button>
        </form>
        <div class="return-home">
          <a class="return-home-link" href="/">Return Home</a>
        </div>
      </div>
    </div>
  </div>
</section>
