<section id="blur-effect">
    <img class="thanks-img" src="./uploads/thankyou-img.jpg"/>
    <div class="container">
    <div class="card contact-container">
      <div class="card-header">Thank You</div>
      <div class="card-body">
        <p>I'll get back to you as soon as I can</p>
        <div class="return-home">
          <a class="return-home-link" href="/">Return Home</a>
        </div>

         </div>
      </div>
    </div>
  </div>
</section>